
{% extends "admin/base_site.html" %}

{% block title %}College Admin Login{% endblock %}

{% block extrastyle %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/custom_login.css' %}">

{% endblock %}

{% block content %}
<div class="login-container">
    <div class="login-box">
        <h1>Welcome to College Admin</h1>
        <form method="post" action="{% url 'admin:login' %}">
            {% csrf_token %}
            {% if form.errors %}
                <p class="error">Invalid username or password.</p>
            {% endif %}
            <div class="form-group">
                <label for="id_username">username</label>
                {{ form.username }}
            </div>
            <div class="form-group">
                <label for="id_password">Password</label>
                {{ form.password }}
            </div>
            <button type="submit">Login</button>
        </form>
    </div>
</div>
{% endblock %}
