{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Gallery</title>
  <link rel="stylesheet" href="{% static 'main/css/gallery.css' %}">
</head>
<body>

<div class="slideshow-container">
  {% for image in images|slice:":5" %}
  <div class="slide fade">
    <img src="{{ image.image.url }}" alt="{{ image.caption }}">
  </div>
  {% endfor %}
  <a class="prev" onclick="plusSlides(-1)">❮</a>
  <a class="next" onclick="plusSlides(1)">❯</a>
</div>

<h2 class="grid-title">Gallery</h2>
<div class="grid-container">
  {% for image in images %}
    <div class="grid-item">
      <img src="{{ image.image.url }}" alt="{{ image.caption }}">
    </div>
  {% endfor %}
</div>

<script src="{% static 'js/gallery.js' %}"></script>
</body>
</html>
